@tailwind base;
@tailwind components;
@tailwind utilities;
/* Global styles or styles.css */

@keyframes wave {
    0%, 100% {
      transform: scale(0.9);
    }
    50% {
      transform: scale(0.7);
    }
  }
  
  .wave {
    background-color: #5841d9;
  }
  
  .animate-wave {
    animation: wave 2s infinite ease-in-out;
  }
  